<% url = shop_product_url(@shop, product, :taxon_id => @taxon.try(:id)) %>
<li id="product_<%= product.id %>" class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
  <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : [I18n.locale, current_currency, product]) do %>
      <div class="product-image">
        <%= link_to small_image(product, :itemprop => "image"), url, :itemprop => 'url' %>
      </div>
      <%= link_to truncate(product.name, :length => 50), url, :class => 'info', :itemprop => "name", :title => product.name %>
      <span class="price selling" itemprop="price"><%= display_shop_price(product) %></span>
  <% end %>
</li>
