<div data-hook="product_price" class="columns five <% if !@product.has_variants? %> alpha <% else %> omega <% end %>">

  <div id="product-price">
    <h6 class="product-section-title"><%= Spree.t(:price) %></h6>
    <div>
            <span class="price selling" itemprop="price">
              <%= display_shop_price(@product) %>
            </span>
      <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
    </div>

    <% if @product.master.can_supply? %>
        <link itemprop="availability" href="http://schema.org/InStock" />
    <% elsif @product.variants.empty? %>
        <br />
        <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
    <% end %>
  </div>

  <div class="add-to-cart">
    <%= hidden_field_tag :shop_id, @shop.id %>
    <%= number_field_tag :quantity, 1, :class => 'title', :min => 1 %>
    <%= button_tag :class => 'large primary', :id => 'add-to-cart-button', :type => :submit do %>
        <%= Spree.t(:add_to_cart) %>
    <% end %>
  </div>
</div>