<%= form.hidden_field :firstname, :value => '0' %>
<%= form.hidden_field :lastname, :value => '0' %>
<%= form.hidden_field :phone, :value => '0' %>
<div class="inner">
  <div class="field">
    <%= form.label :address1, Spree.t(:street_address) %><br />
    <%= form.text_field :address1, :class => 'required' %>
  </div>
  <div class="field">
    <%= form.label :city, Spree.t(:city) %><br />
    <%= form.text_field :city, :class => 'required' %>
  </div>
  <div class="field">
    <%= form.label :country_id, Spree.t(:country) %><br />
    <span id="country-selection">
      <%= form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'} %>
    </span>
  </div>
  <div class="field">
    <%= form.label :zipcode, Spree.t(:zip) %><% if location.require_zipcode? %><br /><% end %>
    <%= form.text_field :zipcode, :class => "#{'required' if location.require_zipcode?}" %>
  </div>
</div>
