<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @promotion } %>
<div class="row">
  <div id="general_fields" class="alpha thirteen columns">
    <div class="alpha nine columns">
      <%= f.field_container :name do %>
        <%= f.label :name %>
        <%= f.text_field :name, :class => 'fullwidth' %>
      <% end %>

      <%= f.fields_for :location, @shop.location do |address_form| %>
          <%= render :partial => 'spree/admin/shops/address_form', :locals => { :form => address_form, :location => @shop.location } %>
      <% end %>

      <%= f.field_container :longitude do %>
          <%= f.label :longitude %>
          <%= f.text_field :longitude, :class => 'fullwidth', :disabled => true %>
      <% end %>

      <%= f.field_container :latitude do %>
          <%= f.label :latitude %>
          <%= f.text_field :latitude, :class => 'fullwidth', :disabled => true %>
      <% end %>

      <%= f.field_container :active do %>
          <%= f.label :active %>
          <%= f.check_box :active %>
      <% end %>

      <%= f.field_container :email do %>
          <%= f.label :email %>
          <%= f.text_field :email, :class => 'fullwidth' %>
      <% end %>

      <%= f.field_container :public_phone do %>
          <%= f.label :public_phone %>
          <%= f.text_field :public_phone, :class => 'fullwidth' %>
      <% end %>

      <%= f.field_container :private_phone do %>
          <%= f.label :private_phone %>
          <%= f.text_field :private_phone, :class => 'fullwidth' %>
      <% end %>

      <%= f.field_container :rating do %>
          <%= f.label :rating %>
          <%= f.text_field :rating, :class => 'fullwidth' %>
      <% end %>

      <%= f.field_container :service_hours_weekdays do %>
          <%= f.label :service_hours_weekdays %>
          <%= f.text_field :service_hours_weekdays, :class => 'fullwidth' %>
      <% end %>

      <%= f.field_container :service_hours_friday do %>
          <%= f.label :service_hours_friday %>
          <%= f.text_field :service_hours_friday, :class => 'fullwidth' %>
      <% end %>

      <%= f.field_container :service_hours_saturday do %>
          <%= f.label :service_hours_saturday %>
          <%= f.text_field :service_hours_saturday, :class => 'fullwidth' %>
      <% end %>

      <%= f.field_container :payment_details do %>
          <%= f.label :payment_details %>
          <%= f.text_field :payment_details, :class => 'fullwidth' %>
      <% end %>

      <%= f.field_container :min_delivery_time do %>
          <%= f.label :min_delivery_time %>
          <%= f.text_field :min_delivery_time, :class => 'fullwidth' %>
      <% end %>

      <%= f.field_container :serving_area_radius do %>
          <%= f.label :serving_area_radius %>
          <%= f.text_field :serving_area_radius, :class => 'fullwidth' %>
      <% end %>

      <% if !f.object.nil? && f.object.photo.present? %>
          <%= link_to image_tag(f.object.photo.url(:small)), f.object.photo.url(:normal) %>
      <% end %>

      <%= f.field_container :photo do %>
          <%= f.label :photo %><br />
          <%= f.file_field :photo %>
      <% end %>

    </div>
  </div>
</div>
