<% content_for :page_title do %>
  <%= Spree.t(:editing_shop) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back_to_shops_list), admin_shops_path, :icon => 'arrow-left' %>
  </li>
<% end %>

<%= form_for @shop, :url => object_url, :method => :put do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
