<% content_for :page_title do %>
    <%= Spree.t(:listing_shops) %>
<% end %>

<% content_for :page_actions do %>
    <li id="new_shop_link">
      <%= button_link_to Spree.t(:new_shop), new_object_url, {:icon => 'plus', :id => 'admin_new_shop' } %>
    </li>
<% end if can?(:create, Shop) %>

<% content_for :table_filter_title do %>
    <%= Spree.t(:search) %>
<% end %>

<% content_for :table_filter do %>
    <div data-hook="admin_shops_sidebar">

      <%= search_form_for [:admin, @search] do |f| %>

          <%- locals = {:f => f} %>

          <div data-hook="admin_shops_index_search">
            <div class="alpha nine columns">
              <div class="field">
                <%= f.label :name_cont, Spree.t(:name) %>
                <%= f.text_field :name_cont, :size => 15 %>
              </div>
            </div>
          </div>

          <div class="clear"></div>

          <div class="form-buttons actions filter-actions" data-hook="admin_shops_index_search_buttons">
            <%= button Spree.t(:search), 'search' %>
          </div>
      <% end %>
    </div>
<% end %>

<div id="new_shop_wrapper" data-hook></div>

<%= paginate @collection %>

<% if @collection.any? %>
    <table class="index" id="listing_shops">
      <colgroup>
        <col style="width: 85%;">
        <col style="width: 15%;">
      </colgroup>
      <thead>
      <tr data-hook="admin_shops_index_headers">
        <th colspan="2"><%= sort_link @search,:name, Spree.t(:name), { :default_order => "desc" }, {:title => 'admin_shops_listing_name_title'} %></th>
        <th data-hook="admin_shops_index_header_actions" class="actions"></th>
      </tr>
      </thead>
      <tbody>
      <% @collection.each do |shop| %>
          <tr id="<%= spree_dom_id shop %>" data-hook="admin_shops_index_rows" class="<%= cycle('odd', 'even') %>">
            <td><%= link_to shop.try(:name), edit_admin_shop_path(shop) %></td>
            <td class="actions" data-hook="admin_shops_index_row_actions">
              <%= link_to_edit shop, :no_text => true, :class => 'edit' if can?(:edit, shop) %>
              &nbsp;
              <%= link_to_delete shop, :no_text => true if can?(:delete, shop) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <div class="alpha twelve columns no-objects-found">
      <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/shop')) %>,
      <%= link_to Spree.t(:add_one), spree.new_admin_shop_path %>!
    </div>
<% end %>

<%= paginate @collection %>
