<div data-hook="admin_product_form_fields">

  <div class="right four columns omega" data-hook="admin_product_form_right">
    <div data-hook="admin_product_form_price">
      <%= f.field_container :price do %>
          <%= f.label :shop_price, Spree.t(:shop_price) %>
          <%= f.text_field :shop_price, :value => number_to_currency(@product.shop_price(spree_current_user.shop).price, :unit => '') %>
          <%= f.error_message_on :shop_price %>
      <% end %>
    </div>

  </div>

  <div class="clear"></div>

  <div data-hook="admin_product_form_additional_fields"></div>

  <div class="clear"></div>
</div>

<% unless Rails.env.test? %>
    <script>
        $('.select2-container').css({width: '20em'})
    </script>
<% end %>
