<% if spree_current_user.has_spree_role?('manager') %>
    <%= link_to product.try(:name), shop_admin_product_path(product) %>
<% else %>
    <%= link_to product.try(:name), edit_admin_product_path(product) %>
<% end %>