<%= content_tag :li, :class => ('active' if current == 'Manage') do %>
    <%= link_to_with_icon 'edit', Spree.t(:product_manage), shop_admin_product_url(@product) %>
<% end if can?(:shop, Spree::Product) %>