<% if spree_current_user.has_spree_role?('manager') %>
    <%= product.display_shop_price(spree_current_user.shop).to_html rescue '' %>
<% else %>
    <%= product.display_price.to_html rescue '' %>
<% end %>