<h1 class="shop-title"><%= @shop.name %></h1>

<% content_for :sidebar do %>
    <div data-hook="shop_sidebar_navigation">
      <%= render partial: 'spree/shared/taxonomies' %>
      <%#= render partial: 'spree/shared/filters' if @shop.children.empty? %>
    </div>
<% end %>

<div data-hook="shop_products">
  <%= render partial: 'spree/shared/products', locals: { products: @products, shop: @shop } %>
</div>