<% if @user.has_spree_role?('manager') %>
    <div data-hook="admin_user_form_shops" class="field">
      <%= f.collection_select :shop, Shop.all, :id, :name, :prompt => Spree.t(:select_shop), :selected => f.object.shop.nil? ? { } : f.object.shop.id %>
    </div>

    <script>
        $('#user_shop').select2();
    </script>

<% end %>