<div data-hook="shops_search_results_heading">
  <% if @shops.empty? %>
      <div data-hook="shops_search_results_heading_no_results_found">
        <%= Spree.t(:no_shops_found) %>
      </div>
  <% elsif params.key?(:keywords) %>
      <div data-hook="shops_search_results_heading_results_found">
        <h6 class="search-results-title"><%= Spree.t(:search_results, :keywords => h(params[:keywords])) %></h6>
      </div>
  <% end %>
</div>

<% if @shops.any? %>
    <ul id="shops" class="inline product-listing" data-hook>
      <% @shops.each do |shop| %>
          <% url = shop_url(shop) %>
          <li id="shop_<%= shop.id %>" class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="shops_list_item" itemscope itemtype="http://schema.org/Product">
            <div class="shop-image">
              <%= link_to image_tag(shop.photo.url(:small)), url %>
            </div>
            <%= link_to shop.name, url, :class => 'info', :itemprop => "name", :title => shop.name %>
          </li>
      <% end %>
      <% reset_cycle("classes") %>
    </ul>
<% end %>